# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

# 프로젝트 제외 경로
/console-app/out/production/classes/
/console-app-model/out/production/classes/
/console-app-model/out/test/classes/